.rdc-container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1c1c1e;
  > *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  &__btn {
    cursor: pointer;
    padding: 1rem;
    background: #333335;
    text-decoration: none;
    user-select: none;
    font-size: 1rem;
    &:hover {
      background: #fff;
      color: #333335;
    }
    &--today {
      border: 1px solid #333335;
      background: transparent;
      width: 100px;
      text-transform: uppercase;
      &:hover {
        background: #333335;
        color: #fff;
      }
    }
  }
  &__header {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    @media screen and (max-device-width: 767px) {
      display: flex;
      flex-direction: column;
      &__group {
        .rdc-container__btn--today {
          width: 100%;
          margin-bottom: 1rem;
        }
        &:not(:first-child) {
          padding: 1rem 0;
        }
        justify-content: center;
      }
    }
    &__group {
      display: inline-flex;
      &:not(:first-child) {
        margin: 0 1rem;
      }
      &__item {
        padding: 0 1rem;
      }
    }
  }
  &__row {
    display: flex;
    padding: 1rem;
    width: 100%;
    @media screen and (max-device-width: 767px) {
    }
    &__column {
      @media screen and (max-device-width: 767px) {
        margin-right: 0.5rem;
      }
      &--left {
        margin-right: 1rem;
      }
      &--right {
        width: 100%;
        &::after {
          content: '';
          display: block;
          border-bottom: 1px solid #ddd;
          width: 100%;
          height: 1px;
          margin-top: 8px;
        }
      }
      &__event {
        &__content {
          padding: 0.5rem;
        }
        position: absolute;
        border-radius: 6px;
      }
    }
  }
}
