.row {
  &:before,
  &:after {
    display: none !important;
  }
}

/* FONT IMPORTS */

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #000;
  --text-color: #000;
  --text-color-light: #fff;
  --white: #fff;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
  --badge-notification: #f2372e;
  --highlight-red-1: #df1e1e;
  --small-font-size: 9px;
  --black: #000;
  --border-color-dark: #6e655d;
  --font-weight-bold: 300;
  --font-weight-bolder: 500;
}

@mixin box-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
  color: var(--main-color);
  .modal-backdrop {
    opacity: 0.5 !important;
  }
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.same-hour-container {
  width: 100%;
  position: absolute;
  z-index: 9999;
  &::before {
    height: 10px;
    border: 1px solid #df1e1e;
    width: 10px;
    position: absolute;
    content: '';
    top: 7px;
    border-radius: 20px;
    background: #df1e1e;
  }
  &::after {
    height: 1px;
    border-bottom: 1px solid #df1e1e;
    width: 100%;
    position: absolute;
    content: '';
    top: 12px;
  }
}
.event-card {
  &:hover {
    width: 100% !important;
  }
}
.dayWeekHeader {
  display: flex;
  margin-top: 1rem;
  border: unset;
  justify-content: space-between;
  div:nth-child(1) {
    margin: 0.5rem;
  }
  div:nth-child(2) {
    .list-group-item {
      display: inline-flex;
      border: unset;
    }
    @media (max-width: 575px) {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 575px) {
    flex-direction: column;
    .btn {
      width: 100%;
    }
  }
}
.day-hour {
  @media (max-width: 575px) {
    padding: 0;
  }
}
/* Month  Calendar */
.calendar {
  display: block;
  position: relative;
  width: 100%;
  color: #383d41;
  background-color: #e2e3e5;
  border: 1px solid #d6d8db;
  border-radius: 0.23rem;
  font-size: 0.8rem;
  padding: 0.3rem;
  .header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5em 0;
    color: var(--text-color);
    transition: 0.25s ease-out;
    .icon {
      outline: none;
      user-select: none;
      cursor: pointer;
      transition: 0.15s ease-out;
      &:hover {
        transform: scale(1.75);
        transition: 0.25s ease-out;
        color: var(--main-color);
      }
    }
  }
  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--badge-notification);
    font-size: 70%;
    padding: 0.75em 0;
    transition: 0.25s ease-out;
    .col {
      padding: 0.1rem;
      text-align: center;
    }
  }
  .body {
    .cell {
      position: relative;
      height: 2em;
      overflow: hidden;
      cursor: pointer;
      transition: 0.25s ease-out;
      padding: 0.4rem;
      text-align: center;
      &.disabled {
        color: var(--text-color-light);
        pointer-events: none;
      }
      &.selected {
        color: var(--highlight-red-1);
        font-weight: 400;
      }
    }
  }
}
.time-border-bottom::after {
  content: '';
  position: absolute;
  width: 100%;
  background: lightgray;
  height: 3%;
  top: 58%;
  margin-left: -1rem;
}
/* loader */

.loader-container-wrapper {
  min-height: 100px;
  text-align: center;
  padding: 10px 0px;
  margin: 0 auto;
  .loader-container {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: var(--text-color);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      &:nth-child(1) {
        left: 6px;
        animation: loader-container1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 6px;
        animation: loader-container2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 26px;
        animation: loader-container2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 45px;
        animation: loader-container3 0.6s infinite;
      }
    }
  }
}
.modal-dialog {
  -webkit-animation: slideUp 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideUp 1s; /* Firefox < 16 */
  -ms-animation: slideUp 1s; /* Internet Explorer */
  -o-animation: slideUp 1s; /* Opera < 12.1 */
  animation: slideUp 1s;
  .modal-header {
    background: #2ca18c;
    color: var(--white);
  }
}

.modal-body-content-container {
  margin-top: 0.5em;
  .event-time,
  .event-descr {
    display: flex;
    padding: 1em;
    font-weight: 400;
  }
  .event-time .glyphicon,
  .event-descr .glyphicon {
    flex-grow: 1;
    transform: translateY(5px);
    color: #1b6dc1;
  }
  .event-time .event-label,
  .event-descr .event-label {
    flex-grow: 20;
  }
}

.modal-title {
  font-size: 26px;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
.error-container {
  border: 1px solid var(--border-color);
  font-size: 90%;
  @include box-shadow-1;
  .error-descr {
    text-align: center;
    margin: 2em;
    font-weight: var(--font-weight-bold);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader-container1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader-container3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader-container2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}
